@CHARSET "UTF-8";

.noshadow * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
form.ui-mini .ui-field-contain fieldset.ui-controlgroup legend small {
    color: #666;
}
/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
    background-color: #f1f2e8 /*{a-page-background-color}*/;
}

.imageswitcher{
}
.imageswitcher .image-col{
	width: 100%;
	margin-right: 5px;
	vertical-align: top;
}
.imageswitcher .thumbnails-col{
	width: 47px;
	padding-left: 3px;
	padding-top: 5px;
	vertical-align: top;
}

.imageswitcher .thumbnails-col img{
	width: 40px;
    height: 40px;
	border: 1px solid #ccc;
    margin: 1px;
}

.imageswitcher .thumbnails-col img.thumb-active{
	border: 2px solid #0050c1;
	margin: 0;
}
.imageswitcher .full-image-wrapper{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.imageswitcher .full-image-wrapper img{
	width: 100%;
	height: auto;
}
.product-single-info{
    margin: 1em 0;
}
.product-single-info .ui-bar  {
  border-top-width: 0;  
}
.product-single-info .ui-first-bar {
  border-top-width: 1px;	
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;	
	
}
.product-single-info .ui-body {
  border-top-width: 0;	
}
.product-single-info .ui-last-body {
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.ui-page-theme-a .btn-buy{
	background-color: #F6AE01;
	color: #FFF;
	text-shadow: 0 1px 0 #F6AE01;
}

.ui-page-theme-a .btn-buy:hover{
    background-color: #F6AE01;
    color: #FFF;
    text-shadow: 0 1px 0 #F6AE01;
}